/* (=^ᆺ^=) FOOTER (=^ᆺ^=) */

$color-footer: #353535;
$color-white: #ffffff;

.footer {
    background-color: $color-footer;
    padding: 20px;
    color: $color-white;
    @media screen and (min-width: 1025px) {
      text-align: center;
    }
    &__logo {
      width: 100px;
      margin-bottom: 10px;
      filter: invert(99%) sepia(0%) saturate(1126%) hue-rotate(318deg) brightness(116%) contrast(100%);
    }
    .list {
      padding-left: 0;
      margin: 0;
      &__item {
        display: flex;
        @media screen and (min-width: 1025px) {
          justify-content: center;
        }
      }
      img {
        width: 20px;
        margin-right: 7px;
        filter: invert(99%) sepia(0%) saturate(1126%) hue-rotate(318deg) brightness(116%) contrast(100%);
      }
      p {
        margin: 5px 0;
        color: $color-white;
      }
    }
  }