@charset "UTF-8";
/* (=^ᆺ^=) ALL (=^ᆺ^=) */ /* (=^ᆺ^=) GENERIC TAG (=^ᆺ^=) */
body {
  font-family: Roboto, Arial;
  font-size: 16px;
  font-display: fallback;
  color: #000000;
  margin: 0;
  padding: 0;
}
body h1, body h2, body h5, body h4 {
  font-size: 24px;
  margin: 0;
}
body h3 {
  font-size: 16px;
  margin: 0;
}
body p, body a {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
  color: #000000;
}

#layout {
  max-width: 1400px;
  margin: 0 auto;
}

/* (=^ᆺ^=) COMPONENT (=^ᆺ^=) */
.btn {
  border-radius: 25px;
  border: none;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: #ffffff;
  padding: 15px;
  font-weight: 600;
}

/* (=^ᆺ^=) HOME PAGE (=^ᆺ^=) */
/* + background card */
/* (=^ᆺ^=) LOCATION (=^ᆺ^=) */
.location {
  z-index: 1;
  position: relative;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .location {
    background-color: #ffffff;
  }
}
.location__icon {
  margin-right: 15px;
  filter: invert(16%) sepia(1%) saturate(1635%) hue-rotate(85deg) brightness(102%) contrast(85%);
}
.location__content {
  padding: 15px 0;
  color: #353535;
}

/* (=^ᆺ^=) HERO HOME PAGE(=^ᆺ^=) */
.hero {
  background-color: #f7f7f7;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .hero {
    border-radius: 25px;
  }
}
.hero__title {
  margin-bottom: 15px;
}
.hero__content {
  margin-bottom: 25px;
}

/* (=^ᆺ^=) FUNCTIONING (=^ᆺ^=) */
.functioning {
  padding: 50px 20px;
}
.functioning__title {
  margin-bottom: 20px;
}
@media screen and (min-width: 1025px) {
  .functioning__title {
    text-align: center;
  }
}
.functioning .card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .functioning .card-section {
    flex-direction: row;
    justify-content: space-around;
  }
}
.functioning .card {
  background-color: #f7f7f7;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  padding: 25px 20px;
  box-shadow: 10px 12px 32px -7px rgba(0, 0, 0, 0.21);
  position: relative;
  max-width: 280px;
}
@media screen and (min-width: 350px) {
  .functioning .card {
    padding: 25px 40px;
  }
}
.functioning .card__badge {
  background-color: #9356dc;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
}
.functioning .card__icon {
  width: 25px;
  margin-right: 20px;
  filter: invert(59%) sepia(0%) saturate(648%) hue-rotate(253deg) brightness(84%) contrast(72%);
}
.functioning .card:hover {
  background-color: #f5edff;
}
.functioning .card:hover .card__icon {
  filter: invert(42%) sepia(63%) saturate(744%) hue-rotate(227deg) brightness(89%) contrast(94%);
}

/* (=^ᆺ^=) RESTAURANTS (=^ᆺ^=) */
.restaurant {
  background-color: #f7f7f7;
  padding: 50px 20px;
}
@media screen and (min-width: 1400px) {
  .restaurant {
    border-radius: 25px 25px 0 0;
  }
}
.restaurant__title {
  margin-bottom: 20px;
}
@media screen and (min-width: 1025px) {
  .restaurant__title {
    text-align: center;
  }
}
.restaurant .card-section {
  display: flex;
  flex-wrap: wrap;
}
.restaurant .card-padding {
  width: 100%;
}
@media screen and (min-width: 500px) {
  .restaurant .card-padding {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant .card-padding {
    width: 25%;
  }
}
.restaurant .card {
  border-radius: 20px;
  background-color: #ffffff;
  margin: 10px 0;
  box-shadow: 10px 12px 32px -7px rgba(0, 0, 0, 0.21);
}
@media screen and (min-width: 500px) {
  .restaurant .card {
    margin: 0.5em;
  }
}
.restaurant .card-header {
  height: 200px;
  display: flex;
  position: relative;
}
.restaurant .card-header__img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant .card-header__badge {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  padding: 8px 15px;
  border-radius: 2px;
  right: 15px;
  top: 15px;
}
.restaurant .card-body {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.restaurant .card-body__content--bold {
  font-weight: 600;
  margin: 0 0 6px 0;
}
.restaurant .card-body__content--regular {
  margin: 0;
}
.restaurant .card-body__favorite {
  display: flex;
  align-items: center;
}
.restaurant .card-body__favorite:hover .card-body__icon {
  display: none;
}
.restaurant .card-body__favorite:hover .card-body__icon-full {
  display: block;
}
.restaurant .card-body__icon-full {
  display: none;
}

/* (=^ᆺ^=) MENU (=^ᆺ^=) */
/* (=^ᆺ^=) HERO MENU (=^ᆺ^=) */
.hero-menu {
  height: 180px;
  position: relative;
  display: flex;
}
.hero-menu__gradient {
  width: 100%;
  height: 100%;
  position: absolute;
}
@media screen and (min-width: 1400px) {
  .hero-menu__gradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(280deg, rgb(255, 255, 255) 0%, rgba(50, 37, 100, 0) 45%, rgba(50, 37, 100, 0) 55%, rgb(255, 255, 255) 100%);
  }
}
.hero-menu img {
  height: 180px;
  object-fit: cover;
  width: 100%;
}

/* (=^ᆺ^=) MENU (=^ᆺ^=) */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear-right-to-left {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes disappear-left-to-right {
  from {
    width: 15%;
  }
  to {
    width: 0%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu .menu-body:nth-child(1) {
  animation-delay: 0s;
}

.menu .menu-body:nth-child(2) {
  animation-delay: 0.5s;
}

.menu .menu-body:nth-child(3) {
  animation-delay: 1s;
}

.menu {
  background-color: #f7f7f7;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -27px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 500px) {
  .menu {
    padding: 25px 25px;
  }
}
.menu-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1300px) {
  .menu-section {
    flex-direction: row;
    justify-content: space-between;
  }
}
.menu-header {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.menu-header__title {
  margin: 0;
}
.menu-header__favorite {
  display: flex;
  align-items: center;
}
.menu-header__favorite:hover .menu-header__icon {
  display: none;
}
.menu-header__favorite:hover .menu-header__icon-full {
  display: block;
}
.menu-header__icon-full {
  display: none;
}
.menu-body {
  width: 100%;
  opacity: 0;
  animation: fade-in 1s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.menu-body__title {
  color: #353535;
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  max-width: 400px;
}
.menu-body__title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 4ch;
  height: 3px;
  background-color: #99e2d0;
}
.menu .article {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}
.menu .card {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
}
.menu .card-body {
  width: 90%;
  padding: 10px;
}
.menu .card__title {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
}
.menu .card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .card-footer__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  color: #353535;
}
.menu .card-footer__price {
  font-weight: 700;
  color: #353535;
}
.menu .card__button {
  background-color: #99e2d0;
  width: 15%;
  border-radius: 0 15px 15px 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.menu .card__button img {
  width: 20px;
}
.menu .card:hover .card__button {
  display: flex;
  animation: appear-right-to-left 0.5s;
}
.menu .card:hover .card__button img {
  animation: rotate 0.5s;
}
.menu-button {
  padding-bottom: 15px;
}
.menu-button .btn {
  padding: 15px 50px;
}
.menu .card:not(:hover) .card__button {
  animation: disappear-ledt-to-right 0.5s;
}

/* (=^ᆺ^=) HEADER (=^ᆺ^=) */
.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 14px -4px rgba(0, 0, 0, 0.53);
  z-index: 2;
  position: relative;
}
.navbar__logo {
  text-align: center;
}
.navbar__logo img {
  width: 170px;
}
.navbar nav {
  display: flex;
  align-items: center;
}
.navbar--menu .navbar__icon {
  position: absolute;
  left: 25px;
}
.navbar--menu .navbar__icon img {
  width: 25px;
}

/* (=^ᆺ^=) FOOTER (=^ᆺ^=) */
.footer {
  background-color: #353535;
  padding: 20px;
  color: #ffffff;
}
@media screen and (min-width: 1025px) {
  .footer {
    text-align: center;
  }
}
.footer__logo {
  width: 100px;
  margin-bottom: 10px;
  filter: invert(99%) sepia(0%) saturate(1126%) hue-rotate(318deg) brightness(116%) contrast(100%);
}
.footer .list {
  padding-left: 0;
  margin: 0;
}
.footer .list__item {
  display: flex;
}
@media screen and (min-width: 1025px) {
  .footer .list__item {
    justify-content: center;
  }
}
.footer .list img {
  width: 20px;
  margin-right: 7px;
  filter: invert(99%) sepia(0%) saturate(1126%) hue-rotate(318deg) brightness(116%) contrast(100%);
}
.footer .list p {
  margin: 5px 0;
  color: #ffffff;
}

/* Media Queries :
- 350
- 500px
- 1025px
-1300px
-1400
*/

/*# sourceMappingURL=index.css.map */
