/* (=^ᆺ^=) COMPONENT (=^ᆺ^=) */

$color-white: #ffffff;
$color-purple: #9356DC;
$color-purple-hover: #9e6bdd;
$color-pink: #FF79DA;
$color-pink-hover: #fd9ce1;

.btn {
    border-radius: 25px;
    border: none;
    background: linear-gradient(180deg, $color-pink 0%, $color-purple 100%);
    color: $color-white;
    padding: 15px;
    font-weight: 600;
}

.btn:hover {
    background: linear-gradient(180deg, $color-pink-hover 0%, $color-purple-hover 100%);
    color: $color-white;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.48)
}